*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#navcon{

    display: flex;
    justify-content: center;
    margin: auto;
    /* border: 1px solid red; */
}
#nav{
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    top: 0;
    /* left: 0; */
    /* margin: auto; */
    max-width: 1366px;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#lhs{
    width : 60%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
#rhs{
    width : 40%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    margin-right: 50px;
    /* border: 1px solid red; */
}
#rhs>div{
    height: 100%;
    display: flex;
    align-items: center;
    
}
#rhs>div>a:hover{
    border-bottom: 2px solid;
}
#rhs>div>a{
    padding: 5px 0;
    font-size: 18px;
    text-decoration: none;
    color: black;
    
}
#logo{
    width : 60%;
    width: 20%;
    margin-left:50px;
    display: flex;
    justify-content: left;
    align-items: center;
}
#logo>a{
    font-family: 'Style Script', "cursive";
    font-style: italic;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color:black;
}
#searchdiv{
    width: 500px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    position: relative;
}
#search{
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
#sloading{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    height: 200px;
}
#notfound{
    display: flex;
    justify-content: center;
    /* width: 100%; */
    height: 200px;
}

#searchresult{
    display: none;
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* border-top: 1px solid #ccc; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#scard{
 
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #ccc;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#scard:hover{
   cursor: pointer;
   background: #FFEFBA;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}
#simgd{
    padding: 5px;
    width: 20%;
    height: 100%;
    /* border: 1px solid blue; */
}
#simgd>img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#scondiv{
    
    padding-left: 5px;
    width: 75%;
    height: 100%;
    /* border: 1px solid blue; */
}
#scondiv>h4{
    font-weight: 500;
    padding: 6px 0;
}
#scondiv>p{
    padding: 4px 0;
    font-size: 14px;
    font-weight: 500;
}
#searchresult>li{
    list-style: none;
    padding: 10px;
    display: flex;
    align-items: center;
}

#searchresult>li>a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 0;
    width: 100%;
}
#logo>div>a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
#slideshow{
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    margin: 50px auto 0;
    max-width: 1366px;
    /* border: 1px solid; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
/* width: 100%; */
    height: 450px; 
    margin-bottom: 50px;
}
#slideshow>img{
    width: 100%;
    height: 100%; 
}
#sort-buttonsdiv{
    max-width: 1366px;
    padding: 10px 15px;
    margin: auto;
}
#sorter{

    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
    border: none;
}
#movies{
    margin: auto;
    max-width: 1366px;
    padding: 50px 15px;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
#movies>div:hover{
    background: #FFFFFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    cursor: pointer;
}
#movies>div{
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* border: 1px solid; */
    padding: 5px;
    display: flex;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 1px solid red;  */
    /* justify-content: ; */
}
#mimgdiv{
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* margin-right: 10px; */
    /* border: 1px solid red; */
}
#mimgdiv>img{
    height: 100%;
    border-radius: 5px;
    /* border: 1px solid red; */
}
#mcondiv{
    padding: 10px;
    /* gap: 10px; */
}
#mcondiv>h3{
    padding: 0px 0px 5px;
}
#mcondiv>p{
    padding: 0px 0px 5px;
}
/* #mcondiv>p, #mcondiv>h3{
    margin-bottom: 5px;
    gap: 10px;
} */

#mobox{
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 5px;
    width: 600px;
    margin: 100px auto;
    border-radius: 5px;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 8px 1px;
    display: flex;
    gap: 20px;
}
#condiv>h2{
    padding: 0 0 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#condiv>p{
    padding: 8px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#mobox>#posterdiv>#poster{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 1px solid red */
}
/* #mobox>#posterdiv>#poster>img{
    
} */
#poster{
    /* padding: 5px; */
    height: 100%;
    /* border-radius: 5px; */
}
#mbox{
    width: 300px;
    margin: 50px auto;
}
#rec{
    margin-top: 20px;
    text-align: center;
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    color: white;
    width: 120px;
}